[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = ">=2.20.0"
pyinstaller = "*"


[dev-packages]

black = "*"
pylama = "*"
mypy = "*"

[requires]

python_version = "3.7"

[pipenv]

allow_prereleases = true
